body {
  background-image: url("./planets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: midnightblue;
  color: white;
  height: 100%;
}

#output {
  display: none;
}